In [10]:
#count no.of digits in the given string
#input:"python123is456good789"
#output:9
s=input()
i=0
count = 0
while i<len(s):
    if s[i].isdigit():
        count +=1
    i +=1
print(count)

python123is456good
6

In [13]:
s=input()
i=0
count = 0
sum = 0
while i<len(s):
    if s[i].isdigit():
        count +=1
        sum += int(s[i])
    i += 1
print("count is :",count,"sum of digit is:",sum)

12473
count is : 5 sum of digit is: 17

In [14]:
s=input()
i=0
count = 0
sum = 0
while i<len(s):
    if s[i].isdigit():
        count +=1
        sum += int(s[i])
    i += 1
print(count)
print(sum)

12345867
8
36

In [1]:
#for loop
#1.using range()
#2.using iterable object
n=int(input("enter a number"))
for i in range(1,n+1,2):
    print(i,end="")

enter a number20
135791113151719

In [1]:
s=input("enter the string")
i=0
while i<len(s):
    print(s[i],end=" ")
    i+=1

enter the stringpalindrom
p a l i n d r o m

In [6]:
s=input("enter the string")
i=0
while i<len(s):
    print(s[i],end=" ")
    i+=1
print()
for i in range(0,len(s)):
    print(s[i],end=" ")

enter the string python
  p y t h o n
  p y t h o n

In [7]:
s=input("enter the string")
i=0
while i<len(s):
    print(s[i],end=" ")
    i+=1
print()
for i in range(0,len(s)):
    print(s[i],end=" ")
print()
for i in s:
    print(i,end=" ")

enter the string  python
    p y t h o n
    p y t h o n
    p y t h o n

## collection type Data type
### List
1. for creating a list use[]
2. List are mutable
3. List are indexed
4. List are ordered
5. List allows duplicate values
6. it store  hertogenous values

In [8]:
list1 =[23,34,456,56,67,"string",True]
print(list1[-1])
print(list1[2:4])

True
[456, 56]

In [17]:
list1 =[23,34,45,56,67,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][-1])

[1, 2, 3]
[45, 56]
gnirts
3

In [19]:
#Manipulating a list
#1.Adding elements
list1 =[33,45,56,67]
print("Before adding elements:",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("After adding elements:",list1)

Before adding elements: [33, 45, 56, 67]
After adding elements: [33, 45, 56, 67, 100, 200, 300]

In [20]:
list1.insert(2,500)
list1

[33, 45, 500, 56, 67, 100, 200, 300]

In [25]:
list1.remove(500)
print(list1)

[45, 56, 67, 200, 300]

In [26]:
#replacin an element
list1[3] = 1000
list1

[45, 56, 67, 1000, 300]

In [29]:
#sorting an array
list1 =[33,44,45,46,74,1,10,20,3,67]
list1.reverse()
list1

[67, 3, 20, 10, 1, 74, 46, 45, 44, 33]

In [30]:
list1.count(46)

1

In [31]:
list2 = list1
print(list,"  ",list2);

<class 'list'>    [67, 3, 20, 10, 1, 74, 46, 45, 44, 33]

In [34]:
l1 = [1,2,3,4]
l2=l1
l3 = [5,6,7,8]
print(l1,l2,l3)

[1, 2, 3, 4] [1, 2, 3, 4] [5, 6, 7, 8]

In [35]:
print(l1,l2,l3)
l1.append(1000)
print(l1,l2,l3)

[1, 2, 3, 4] [1, 2, 3, 4] [5, 6, 7, 8]
[1, 2, 3, 4, 1000] [1, 2, 3, 4, 1000] [5, 6, 7, 8]

In [39]:
#input :[2,4,5,7,8]
#output : [4,16,25,49,64]
l1 = [2,4,5,7,8]
l2 = []
l3 = []
for i in range(0,len(l1)):
    l2.append(l1[i]**2)
print(l2)
for i in l1:
    l3.append(i**2)
print(l3)

[4, 16, 25, 49, 64]
[4, 16, 25, 49, 64]

In [41]:
l4 = []
for i in l1:
    if i%2==0:
        l4.append(1)
print(l4)

[1, 1, 1]

In [42]:
#create a list and accept values of the list at runtime
#and print sum of all the elements of the list
li = []
n = int(input())
for i in range(n):
    list1.append(int(input()))
print(sum(list1))

5
2
3
3
3
3
357

In [3]:
list1 = []
n = int(input())
for i in range(n):
    list1.append(int(input()))
a=sum(list1)
print(a)

5
2
3
4
5
6
20

## Tuple:

In [5]:
tup1 =(23,34,5)
x,y,z = tup1
print(x,y,z)

23 34 5

### Dictionary:
#### syntax : {key1:value1,key2:value2,.....)

#### key :
1. key should be unique
2. key should be immutable-->int,float,string,tuple

In [6]:
dict1 ={"name":"king","course":"crt","address":"hyd"}
dict1["course"]

'crt'

In [7]:
#replace value
dict1["course"] = "c programming"
print(dict1)

{'name': 'king', 'course': 'c programming', 'address': 'hyd'}

In [8]:
#Adding entry
dict1["college"] = "GITAM"
print(dict1)

{'name': 'king', 'course': 'c programming', 'address': 'hyd', 'college': 'GITAM'}

In [9]:
#Removing entry
del dict1["address"]
print(dict1)

{'name': 'king', 'course': 'c programming', 'college': 'GITAM'}

## Function
### def name_of_the_function(arg list):
#####     statements
#####     return

In [10]:
def add(x,y):#function definition
    print(x+y)
    
print(add(10,20))#function calling
print(add(100,200))

30
None
300
None

In [11]:
def square(x):
    return x*x
def cube(x):
    return square(x)*x

print(cube(3))

27